.Container {
  position: fixed;
  /* display: flex;
  flex-direction: column; */
  top: 2%;
  width: 100%;
  background-color: transparent;
  padding: 25px;
  /* text-align: end; */
  /* padding-right: 20px; */
  gap:2px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
  opacity: 0.9;
  z-index:40;
}

.Hamburger {
  position: fixed;
  z-index: 50;
  left: 4%;
  cursor: pointer;
}

.LeyendasIn {
  position: inherit;
  display: flex;
  flex-direction: column;
  gap:2px;
  justify-content: center;
  padding-right: 70px;
  opacity: 1;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.LeyendasOut {
  position: inherit;
  display: flex;
  flex-direction: column;
  gap:2px;
  justify-content: center;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.Leyenda1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9cd84e;
  color: #fff;
}

.Leyenda2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #facf39;
  color: #fff;
}

.Leyenda3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f99049;
  color: #fff;
}

.Leyenda4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f65e5f;
  color: #fff;
}

.Leyenda5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a070b6;
  color: #fff;
}

.Leyenda6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a06a7b;
  color: #fff;
}

.Title {
  font-size: 12px;
  font-weight: 500;
  padding-left: 5px;
  line-height: 1.6;
}

.Valor {
  font-size:12px;
  font-weight: 500;
  padding-left: 5x;
  padding-right: 5px;
  line-height: 1.6;
}

@media (min-width: 508px) {

  .Container {
    position: fixed;
    /* display: flex-wrap;
    flex-wrap: wrap;
    flex-direction: row; */
    top: 2%;
    width: 100%;
    background-color: transparent;
    padding: 25px;
    /* text-align: end; */
    /* padding-right: 20px; */
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
    z-index:40;
  }

  .LeyendasIn {
    position: inherit;
    display: flex-wrap;
    flex-wrap: wrap;
    flex-direction: row;
    gap:4px;
    justify-content: center;
  }

  .LeyendasOut {
    position: inherit;
    display: flex;
    flex-direction: row;
    gap:2px;
    justify-content: center;
  }
  

  .Leyenda1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9cd84e;
    height: 70px;
    width: 110px;
    align-items: center;
    border-radius: 10%;
  }
  .Leyenda2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #facf39;
    height: 70px;
    width: 110px;
    align-items: center;
    border-radius: 10%;
  }
  
  .Leyenda3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f99049;
    height: 70px;
    width: 110px;
    align-items: center;
    border-radius: 10%;
  }
  
  .Leyenda4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f65e5f;
    height: 70px;
    width: 110px;
    align-items: center;
    border-radius: 10%;
  }
  
  .Leyenda5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a070b6;
    height: 70px;
    width: 110px;
    align-items: center;
    border-radius: 10%;
  }
  
  .Leyenda6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a06a7b;
    height: 70px;
    width: 110px;
    align-items: center;
    border-radius: 10%;
  }

}